 {% extends 'base.html' %} 
 {% load static %}
 {% block content %}
     <div class="container-fluid contenedor">
        <div class="row">
            <div class="col-sm-6 texto_proforma">  
                <h2>Poruqe es importante un sistema de proformas</h2>
                <p class="tamanio_txt_parrafo">Las proformas son documentos que contienen la descripción y las cantidades de los productos o servicios que una empresa ofrece a un cliente.
                Estas se utilizan para iniciar el proceso de compra entre un vendedor y un comprador. La proforma es una promesa de venta, una oferta que el vendedor
                le hace al comprador para que acepte la entrega de los productos o servicios descritos.
                </p>
                <p class="tamanio_txt_parrafo"> Las proformas son muy utilizadas en el comercio internacional ya que contienen información importante sobre los términos de entrega, 
                el precio y la forma de pago. Estas también sirven para establecer los términos de la transacción y asegurar que los bienes o servicios se entreguen según los acuerdos establecidos.
                </p>
            </div>
            <div class="col-sm-6 texto_imagen">
                <img src="{%  static 'images/finanzas.jpg' %}"  alt="" width="100%">
            </div>

        </div>
    </div>


    <div id="seccion_servicios" class="container-fluid backgroudn_servicios">
        https://jdm.com.pe/
       
    <h2>Servicios</h2>

    
      
    
    <ul>
            <li class="list-group-item">Agregar Clientes</li>
            <li class="list-group-item">Agregar productos</li>
            <li class="list-group-item">Cambiar el tipo de Moneda</li>
            <li class="list-group-item">Edicion de IVA</li>
        </ul>




    </div>
   
    <div>
        <h2>Contactanos</h2>
    </div>
{% endblock %}